NEXT_PUBLIC_REST_API_BASE_URL="https://dosys-backend-149855215912.us-central1.run.app"
NEXT_PUBLIC_EDGE_API_BASE_URL="https://dosys-edge-149855215912.us-central1.run.app"
NEXT_PUBLIC_DEFAULT_DEVICE_ID="1"
NEXT_PUBLIC_API_BASE_URL="https://dosys-backend-149855215912.us-central1.run.app"
